@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	border: 0;
}
.clear{
	clear:both;
	}
html,body{
	font-family:"微软雅黑";
	background:#fff;
	}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	}
#back{
	position:absolute;
	left:10px;
	top:25px;
	}
#back img{
	width:25px;
	}
header{
	text-align:center;
	width:70%;
	height:34px;
	margin:0 auto;
	border:1px #3ba485 solid;
	border-radius:5px;
	margin-top:20px;
	margin-bottom:30px;
	overflow:hidden;
	}
header p{
	float:left;
	width:50%;
	line-height:34px;
	font-size:14px;
	}
#liuliang{
	background:#fff;
	color:#3ba485;
	}
#huafei{
	background:#3ba485;
	color:#fff;
	}
#section2{
	display:none;
	}
section h1{
	line-height:50px;
	font-size:18px;
	color:#222;
	padding-left:5%;
	}
ul{
	
	background:#fff;
	border-bottom:1px #ccc solid;
	border-top:1px #ccc solid;
	width:95%;
	padding-left:5%;
	}
ul li{
	text-align:center;
	border-bottom:1px #ccc solid;
	width:100%;
	height:30px;
	padding:15px 0;
	}
#logo div{
	width:30px;
	height:30px;
	border-radius:15px;
	}
#logo div img{
	width:100%;
	}
ul li div{
	display:inline-block;
	float:left;
	line-height:30px;
	font-size:14px;
	}
#left{
	padding-left:5px;
	color:#888;
	width:15%;
	}
#logo{
	padding-left:5%;
	text-align:center;
	width:10%;
	}
#mid{
	text-align:center;
	color:#444;
	width:35%;
	}
#right{
	text-align:center;
	color:#30be5b;
	width:30%;
	}
@media screen and (max-width:640px){
	ul li div{
		font-size:12px;
		}
	#logo div{
		width:25px;
		height:25px;
		border-radius:15px;
		}
		
	}
/* CSS Document */

