@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	border: 0;
}
.clear{
	clear:both;
	}
html,body{
	font-family:"微软雅黑";
	background:#f15d5d;
	}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	}
/* CSS Document */

